html
  head
    title ET 130 Practice Problems
    link(
        rel="stylesheet"
        href="styles.css"
      )
    script(
      src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML'
    )
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    script(src="prettyPracticeProblem.js")
  body
  .container
    h1 ET 130: Practice Problems
    form(
      action="/"
      method="GET"
    )
      select(name="topic")
        option(value="ShearStress") ---Please select a topic---
        option(value="ShearStress") Shear Stress
        option(value="PressureHeight") Pressure-Height Relationship
        option(value="VerticalWallForce") Fluid Force on Vertical Wall
        option(value="ReynoldsNumber1") Reynold's Number (Kinematic Viscosity)
        option(value="ReynoldsNumber2") Reynold's Number (Dynamic Viscosity)
        option(value="RelativeRoughness") Relative Roughness
        option(value="BernoulliEquationSimplified") Bernoulli's Equation (Simplified)
        option(value="BernoulliEquationExpanded") Bernoulli's Equation (Expanded)
        option(value="HeadLoss") Head Loss
      input(
        type="submit"
        value="Go"
      )
    section
      h2='Topic'
      p.topic #{topic}
    section
      h3 Problem Statement
      p.problemStatement #{problemStatement}
    section
      h3 Known Variables
      ul
        each val, index in knownVariables
          li.knownVariables
            span.variable=index
            span  = 
            span.number=val[0]
            span  
            span.units=val[1]
    section
      h3 Unknown Variable
      span(
        class="variable"
        id="unknownVariable"
       ) #{unknownVariable}
    section
      h3 Relevant Formulas
      span.formula #{relevantFormulas}
    section
      h3 Answer
      .answer
        each val, index in answer
          span.variable=index
          span  = 
          span(
            class="number"
            id="numericAnswer")=val[0]
          span  
          span(
            class="unit"
            id="unitAnswer")=val[1]
      button(
        id="showAnswer"
        value="showAnswer"
      ) Show Answer
    script(src="showAnswer.js")
    section
      form(
        id="userAnswerForm"
        action=""
      )
        label(
        id="userAnswerLabel"
        for="userAnswer"
        ) Submit your answer here:
        input(
          type="text"
          name="userAnswer"
        )
        select(
          name="unitChoices"
        )
          option(name="N") N
          option(name="Pa") Pa
          option(name="ncm") N/m^3
          option(name="m") m
          option(name="kg") kg
          option(name="lbs") lbs
          option(name="psf") lb/ft^2
          option(name="pcf") lb/ft^3
          option(name="ft") ft
          option(name="slugs") slugs
          option(name="unitless") unitless
        input(
          name="userAnswerSubmit"
          type="submit"
          value="Submit my answer"
        )
    section
      span(id="checkAnswerResponse") 
    section
      a(href="/") New Problem
    script(src='checkAnswer.js')
