html
  head
    title ET 130 Practice Problems
    link(
        rel="stylesheet"
        href="styles.css"
      )
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
    
  body 
    h1 ET 130: Practice Problems
    form(
      action="/"
      method="GET"
    )
      select(name="topic")
        option(value="ShearStress") ---Please select a topic---
        option(value="ShearStress") Shear Stress
        option(value="PressureHeight") Pressure-Height Relationship
        option(value="VerticalWallForce") Fluid Force on Vertical Wall
        option(value="ReynoldsNumber1") Reynold's Number (Kinematic Viscosity)
        option(value="ReynoldsNumber2") Reynold's Number (Dynamic Viscosity)
        option(value="RelativeRoughness") Relative Roughness
        option(value="BernoulliEquationSimplified") Bernoulli's Equation (Simplified)
        option(value="BernoulliEquationExpanded") Bernoulli's Equation (Expanded)
        option(value="HeadLoss") Head Loss
      input(
        type="submit"
        value="Go"
      )
    h2='Topic: ' + topic

    h3 Problem Statement
    p=problemStatement

    h3 Known Variables
    ul
      each val, index in knownVariables
        li=index + ' = ' + val[0] + ' ' + val[1]

    h3 Unknown Variable
    ul
      li=unknownVariable

    h3 Relevant Formulas
    ul  
      li=relevantFormulas

    h3 Answer
    .answer
      each val, index in answer
        span=index + ' = '
        span(id="numericAnswer")=val[0] + ' '
        span(id="unitAnswer")=val[1]
    br
    button(
      id="showAnswer"
      value="showAnswer"
    ) Show Answer
    script(src="showAnswer.js")
    br
    br
    form(
      id="userAnswerForm"
      action=""
    )
      label(for="userAnswer") Submit your answer here:
      input(
        type="text"
        name="userAnswer"
      )
      select(
        name="unitChoices"
      )
        option(name="N") N
        option(name="Pa") Pa
        option(name="ncm") N/m^3
        option(name="m") m
        option(name="kg") kg
        option(name="lbs") lbs
        option(name="psf") lb/ft^2
        option(name="pcf") lb/ft^3
        option(name="ft") ft
        option(name="slugs") slugs
        option(name="unitless") unitless
      input(
        name="userAnswerSubmit"
        type="submit"
        value="Submit my answer"
      )
    span(id="checkAnswerResponse") 
    br
    a(href="/") New Problem
    script(src='checkAnswer.js')
