html
  head
    title ET 130 Practice Problems
  body 
    h1 ET 130: Practice Problems
    h2='Topic: ' + topic

    h3 Problem Statement
    p=problemStatement

    h3 Known Variables
    ul
      each val, index in knownVariables
        li=index + ' = ' + val[0] + ' ' + val[1]

    h3 Unknown Variable
    ul
      li=unknownVariable

    h3 Relevant Formulas
    ul  
      li=relevantFormulas

    h3 Answer
    ul
      each val, index in answer
        li=index + ' = ' + val[0] + ' ' + val[1]
