html
  head
    title ET 130 Practice Problems
  body 
    h1 ET 130: Practice Problems
    form(
      action="/"
      method="GET"
    )
      select(name="topic")
        option(value="ShearStress") ---Select a topic---
        option(value="ShearStress") Shear Stress
        option(value="PressureHeight") Pressure-Height Relationship
        option(value="VerticalWallForce") Fluid Force on Vertical Wall
        option(value="ReynoldsNumber1") Reynold's Number (Kinematic Viscosity)
        option(value="ReynoldsNumber2") Reynold's Number (Dynamic Viscosity)
        option(value="RelativeRoughness") Relative Roughness
        option(value="BernoulliEquationSimplified") Bernoulli's Equation (Simplified)
        option(value="BernoulliEquationExpanded") Bernoulli's Equation (Expanded)
        option(value="HeadLoss") Head Loss
      input(
        type="submit"
        value="Go"
      )
    h2='Topic: ' + topic

    h3 Problem Statement
    p=problemStatement

    h3 Known Variables
    ul
      each val, index in knownVariables
        li=index + ' = ' + val[0] + ' ' + val[1]

    h3 Unknown Variable
    ul
      li=unknownVariable

    h3 Relevant Formulas
    ul  
      li=relevantFormulas

    h3 Answer
    ul
      each val, index in answer
        li=index + ' = ' + val[0] + ' ' + val[1]

    a(href="/") New Problem
