html
  head
    title ET 130 Practice Problems
  body 
    h1 ET 130: Practice Problems
    h2='Topic: ' + topic

    h3 Problem Statement
    p=problemStatement

    h3 Known Variables
    p=knownVariables

    h3 Unknown Variable
    p=unknownVariable

    h3 Relevant Formulas
    p=relevantFormulas

    h3 Answer
    p=answer